*{
    background-color: rgb(143, 119, 74);
}

.box1{
    border: 3px solid rgb(8, 7, 7);
    /*background-color: aliceblue;*/
    width: 250px;
    height: 50px;
    margin-left: 450px;
    padding: 0px;
    button{
        width: 250px;
        height: 50px;

    }}

.container{
margin: 13px;
    display: flex;
    gap: 13px;
    flex-wrap: wrap;
   /* justify-content: space-evenly; */
    button{
        
        width: 200px;
        height: 220px;
        gap: ;
        display: flex;
        border: 3px solid black
        ;
        
        
        
    }
    
   